<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.PageTitle}}</title>
    <link type="text/css" rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <h1>Loading Static datas</h1>

    <button id="btn">Click Me!</button>

    <script src="static/app.js"></script>
  </body>
</html>
